{% extends "shared/base.html" %}


{% block title %}
  <title>Job Board</title>
{% endblock %}

{% block content %}
  {% with msg=msg %}    
  {% include "components/alerts.html" %}
  {% endwith %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5">Find Jobs..</h1>
    </div>
  </div>
  <div class="row">
      {% for job in jobs %}
        <div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
          {% with obj=job %}
      		{% include "components/cards.html" %}
    	  {% endwith %}

          {% if loop.index %3 %}
            </div>
          {% else %}
            </div></div><br><div class="row">
          {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}

<!--Este código es un template de Django que hereda la plantilla "shared/base.html".
Dentro del bloque "title" se define el título de la página. Dentro del bloque "content" se crea una estructura
de grid de Bootstrap que contiene un título y una lista de trabajos.

Para cada trabajo, se incluye la plantilla "components/cards.html" que muestra la información del trabajo.
Además, se utiliza un condicional para añadir saltos de línea cada tres tarjetas de trabajo, con el objetivo
de organizar y mostrar la información de manera más clara. -->